<div class="page-header">
  <h1 id="navbar">Lista de empleados</h1>
</div>

<table class="table table-bordered table-striped">
	<tr>
	  <th class="col-xs-4">Ci</th>
	  <th class="col-xs-4">Nombre</th>
	  <th class="col-xs-4">Apellido</th>
	  <th class="col-xs-4"></th>
	  <th class="col-xs-4"></th>
	  <th class="col-xs-4"></th>
	</tr>

	<% @empleados.each do |empleado| %>
	  <tr>
	    <td><%= empleado.ci %></td>
	    <td><%= empleado.nombre %></td>
	    <td><%= empleado.apellido %></td>
	    <td><a href="/empleados/ver/<%= empleado.ci %>">Ver</a></td>
	    <td><a href="/empleados/modificar/<%= empleado.ci %>">Modificar</a></td>
	    <td><a href="/empleados/eliminar/<%= empleado.ci %>">Eliminar</a></td>
	  </tr>
	<% end %>

</table>